.portfolioTitle {
  font-style: italic;
  text-decoration: none;
  margin: 0px;
  animation: portfolioTitleLoad 500ms ease-in;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: center;
  min-height: 400px;
}

.projectTextContainer {
  float: left;
  margin-left: 20px;
}

.projectTitle {
  animation: fadeIn linear 1.75s;
  font-weight: bolder;
  text-align: left;
  margin-bottom: -16px;
  margin-top: 0;
}

.projectDescription {
  animation: fadeIn linear 1.75s;
  line-height: 175%;
  font-size: 16px;
  max-width: 400px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows {
  font-size: 150%;
  color: #000099;
}

.arrows:hover {
  cursor: pointer;
}

.portfolioHr {
  border-top: 1px solid #000099;
  width: 75%;
}

.sliderImg {
  animation: fadeIn linear 1.75s;
  height: 350px;
  width: 600px;
}

.projectTextContainer > form {
  text-align: center;
}

@keyframes portfolioTitleLoad {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

input[type='submit'] {
  background-color: #000099;
  color: #faf9f6;
  width: 50%;
  padding: 8px;
  margin: 0px;
  font-weight: 200;
  font-size: 20px;
  border: 0;
  border-radius: 24px 24px;
  text-decoration: none;
}

@media only screen and (max-width: 769px) {
  .projectContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .projectDescription {
    width: 100%;
  }
  .sliderImg {
    width: 100%;
    height: auto;
  }
  .projectDescription {
    max-width: 100%;
  }
}
